body {
    display: block;
    margin: 0px;
    font-family: 'Roboto';
    background-color:#222831;
    color: gold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    gap: 30px;
}


.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.btn-choice {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 15px;
    border: 2px solid gold;
    padding-bottom: 10px;
}

.sign {
    font-size: 50px;
}