body {
    display: block;
    margin: 0px;
    font-family: 'Roboto';
    background-color:#222831;
    color: gold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e5968;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}
.result-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-top {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 15px;
    gap: 30px;
}

.result-bottom {
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.btn-choice {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 15px;
    border: 2px solid gold;
    padding-bottom: 10px;
    cursor: pointer;
}

.sign {
    font-size: 50px;
}